<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitalált Közmű Kft.</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" 
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="stylesheets/style.css" /> 
</head>
<body>

<!------Hero------>
<section class="hero">
  <div class="container">
    <div class="hero-container">
      <h1 class="hero-heading text-xxl text-center">
        KITALÁLT KÖZMŰ
      </h1>
      <p class="hero-text text-md text-center">
        Építőipari és Mérnöki Kft.
      </p>
      <div>
      <a href="#target-section" class="btn btn-primary btn-hero text-center" >Tudjon meg többet!</a>
    </div>
    </div>
  </div>
</section>

<section class="box">
  <div class="container">
    <div class="box-container" id="target-section">
      <%= image_tag "munka1.jpg", alt:"Referencia", class: "box-image"%>
      <div class="text-box" >
        <h2 class="text-xl text-center" >Referencia munkáink</h2>
        <p class="text-sm text-center">
          Tekintse meg korábbi projektjeinket és referencia munkáinkat, amelyek bizonyítják szakértelmünket és elkötelezettségünket a minőségi kivitelezés iránt &nbsp; és ismerje meg, hogyan valósítottuk meg ügyfeleink elképzeléseit!
        </p>
      <a href="/kp/reference" class="btn btn-primary btn-hero text-center">Tudjon meg többet!</a>
      </div>
    </div>
  </div>
</section>

    <section class="box">
      <div class="container-2">
        <div class="box-container-2">
          <div class="text-box">
            <h2 class="text-xl text-center">Lépjen velünk kapcsolatba</h2>
            <p class="text-sm text-center text-box">
              Amennyiben érdeklődik
              szolgáltatásaink iránt, kérjük, azonnal
              vegye fel velünk a kapcsolatot!.
              Kérését örömmel fogadjuk, és
              mindent megteszünk annak
              érdekében, hogy egy munkanapon
              belül válaszoljunk megkeresésére.
            </p>
          <a href="#" class="btn btn-primary btn-hero text-center">Tudjon meg többet!</a>
        </div>
        </div>
          <%= image_tag "munka2.jpg", alt:"Contact", class: "box-image"%>
        </div>
    </section>

    <section class="box">
      <div class="container">
        <div class="box-container">
          <%= image_tag "munka3.jpg", alt:"Allaslehetoseg", class: "box-image"%>
          <div class="text-box">
            <h2 class="text-xl text-center">Álláslehetőségek</h2>
            <p class="text-sm text-center">
              Cégünk stabil, bejelentett és legális
              munkalehetőséget kínál olyan fizikai munkát
              kedvelő, elhivatott munkavállalóknak, akik
              megbízhatóan végzik el feladataikat.
              Versenyképes juttatásokat, biztonságos
              munkakörnyezetet és folyamatos fejlődési
              lehetőséget biztosítunk kollégáink számára.            </p>
            <a href="#" class="btn btn-primary btn-hero text-center">Tudjon meg többet!</a>
          </div>
        </div>
      </div>
    </section>

</body>
</html>
