* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --background-color: #EDEEF1;
    --primary-color: #0069C4;
    --font-color: #475057;
    --light-color: #C2CCC5;
    --box-bg-color: #E8E8E8;
    --background-dark-color: rgb(34, 34, 34);
}
body{
    font-family: 'Poppins', Sans-Serif, serif;
    font-size: 16px;
    line-height:1.5;
    background: var(--background-color);
}
a{

    text-decoration: none;
    color: var(--font-color);
}
ul{
    list-style: none;
}
img {
    max-width: 25%;
}
/*Navbar*/
.navbar{
    padding: 20px;
    min-height: 100px;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .main-menu ul{
    display: flex;
}
.navbar ul li a{
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.25s;
}

.logo{
    max-width: 200px;
}


/*Hero*/
.hero {
    margin-bottom: 50px;
}

.hero-container{
    background: url("hero-bg.png");
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 750px;
    align-items: center;
}

.navbar ul li a:hover{
    color: var(--primary-color) ;
}

.navbar ul li:last-child a{
    margin-left: 50px;

}
.hero .container .hero-button{
    display: flex;
    justify-content: center;
}

/*BOX*/

.box
{
    margin-bottom: 50px;
}

.box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.box-container-2 {
    display: grid;
    align-items: center;
    justify-content: center;

    margin-right:100px ;
    gap: 1rem;
}

.box-image{
    max-width: 400px;
    height: auto;
    margin-top: 50px;
    margin-right: 100px;
    border: 2px solid var(--light-color);
    border-radius: 10px;
}

/*Footer*/

.footer-logo{
    margin: 10px 0 0 0;
    max-width: 600px;
    height: auto;
}
.footer-grid{
    max-width: 1100px;
    margin: 10px auto;
    padding: 10px 15px;
    justify-content: left;
    justify-self: left;
    color: var(--light-color);
}



/*Utility Classes*/
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: center;
}

.container-2 {
    display: flex;
    max-width: 1400px;
    margin: 0 auto ;
    padding: 0 15px;
    justify-content: center;

}
.container_sm{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}
.btn {
    display: inline-block;
    padding: 13px 20px;
    background: var(--light-color);
    color: #111;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25ms;
}
.btn:hover{
    opacity: 0.8;
}

.btn-primary{
    background: var(--primary-color);
    color: #111;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-hero{
    display: block;
    margin: 0 auto;
    max-width: 225px;
}

footer{
    background: var(--background-dark-color);
}

.section-divider{
    height: 1px;
    background-color: var(--light-color);
    margin: 0 auto 0 auto;
    width: 1400px;
    display: flex;
    }

/*Reference Classes*/

.search-bar-container{
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.project-container {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    margin: 2rem;
    background-color: var(--box-bg-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.project-image img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

.project-description {
    flex: 2;
}

.project-details {
    flex: 1;
}

.project-details p,
.project-description p {
    margin: 0.5rem 0;
}

/*About classes*/

.about-container {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    margin: 0 auto;
    padding: 2rem;
}

 .about-left{
     flex: 2;
 }

.about-right{
    flex: 1;
}

.about-right img{
    max-width: 70%;
    height: auto;
    margin: 0 auto 1rem auto;
    display: block;
}

.team-columns{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
}

.team-column{
    flex: 1;
    min-width: 250px;
    text-align: left;
}

.equipment-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.equipment-item{
    flex: 1;
    min-width: 25%;
    max-width: 25%;
    background-color: var(--box-bg-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: center;
}

.equipment-item img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

/*Grants Classes*/

.grants-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-end;
    margin-bottom: 100px;
}

.grants-item{
    flex: 1;
    min-width: 32%;
    max-width: 32%;
    background-color: var(--box-bg-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: center;
}

.grants-item img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1px;
}

/*Contact Classes*/





/*Text Classes*/

.text-xxl{
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 0px;
}
.text-xl{
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 15px;
}

.text-md{
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}
.text-sm{
    font-size: 1rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 10px;
}
.text-center {
    text-align: center;
}
.text-box{
    max-width: 500px;
    text-align: center;
}

.text-justify{
    text-align: justify;
}
.text-600{
    font-weight: 600;
}

